
<table style="text-align:center"><tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="5"><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="5" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td colspan="5">Vote choice (Yes)</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td><td>(4)</td><td>(5)</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Sociotropic economy(after referendum)</td><td>1.29<sup>***</sup></td><td>.96<sup>***</sup></td><td>1.27<sup>***</sup></td><td>.54<sup>***</sup></td><td>.71<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.06)</td><td>(.07)</td><td>(.07)</td><td>(.08)</td><td>(.07)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Referendum Knowledge</td><td>.03</td><td>-.04</td><td>.01</td><td>.11<sup>**</sup></td><td>.11<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.05)</td><td>(.05)</td><td>(.05)</td><td>(.05)</td><td>(.05)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">PID (Government)</td><td></td><td>2.49<sup>***</sup></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td>(.13)</td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Vote (Government)</td><td></td><td></td><td>1.09<sup>***</sup></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td>(.14)</td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Government approval</td><td></td><td></td><td></td><td>.52<sup>***</sup></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td>(.03)</td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Approval PM</td><td></td><td></td><td></td><td></td><td>.39<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td>(.02)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Female</td><td>-.02</td><td>-.05</td><td>-.03</td><td>-.04</td><td>-.07</td></tr>
<tr><td style="text-align:left"></td><td>(.09)</td><td>(.10)</td><td>(.10)</td><td>(.11)</td><td>(.11)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Age</td><td>.02<sup>***</sup></td><td>.01<sup>***</sup></td><td>.01<sup>***</sup></td><td>.01<sup>***</sup></td><td>.01<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.003)</td><td>(.003)</td><td>(.003)</td><td>(.003)</td><td>(.003)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">University education</td><td>.22<sup>**</sup></td><td>.10</td><td>.17<sup>*</sup></td><td>.07</td><td>.10</td></tr>
<tr><td style="text-align:left"></td><td>(.09)</td><td>(.11)</td><td>(.10)</td><td>(.11)</td><td>(.11)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>-4.91<sup>***</sup></td><td>-4.01<sup>***</sup></td><td>-4.79<sup>***</sup></td><td>-5.04<sup>***</sup></td><td>-4.74<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.25)</td><td>(.27)</td><td>(.26)</td><td>(.28)</td><td>(.28)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>2,679</td><td>2,679</td><td>2,571</td><td>2,650</td><td>2,564</td></tr>
<tr><td style="text-align:left">Log Likelihood</td><td>-1,474.46</td><td>-1,254.61</td><td>-1,384.37</td><td>-1,198.07</td><td>-1,182.76</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="5" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
