
<table style="text-align:center"><tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="5">Dependent variable: Vote choice (Yes)</td></tr>
<tr><td></td><td colspan="5" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td><td>(4)</td><td>(5)</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Sociotropic economy</td><td>1.00<sup>***</sup></td><td>.61<sup>***</sup></td><td>.78<sup>***</sup></td><td>.08</td><td>.23<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.06)</td><td>(.07)</td><td>(.07)</td><td>(.08)</td><td>(.08)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Referendum knowledge</td><td>.07<sup>*</sup></td><td>-.06</td><td>-.03</td><td>.08</td><td>.10<sup>*</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.04)</td><td>(.06)</td><td>(.05)</td><td>(.06)</td><td>(.06)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">LR Distance</td><td></td><td>-.21<sup>***</sup></td><td>-.32<sup>***</sup></td><td>-.23<sup>***</sup></td><td>-.25<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td></td><td>(.02)</td><td>(.02)</td><td>(.03)</td><td>(.03)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">PID (Government)</td><td></td><td>2.24<sup>***</sup></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td>(.14)</td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Vote (Government)</td><td></td><td></td><td>.90<sup>***</sup></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td>(.15)</td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Government approval</td><td></td><td></td><td></td><td>.53<sup>***</sup></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td>(.03)</td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Approval PM</td><td></td><td></td><td></td><td></td><td>.39<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td>(.02)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Female</td><td>-.01</td><td>-.13</td><td>-.07</td><td>-.11</td><td>-.15</td></tr>
<tr><td style="text-align:left"></td><td>(.09)</td><td>(.12)</td><td>(.11)</td><td>(.12)</td><td>(.12)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Age</td><td>.02<sup>***</sup></td><td>.01<sup>**</sup></td><td>.01<sup>***</sup></td><td>.01<sup>***</sup></td><td>.01<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.003)</td><td>(.003)</td><td>(.003)</td><td>(.003)</td><td>(.003)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">University education</td><td>.20<sup>**</sup></td><td>-.01</td><td>.05</td><td>.04</td><td>.06</td></tr>
<tr><td style="text-align:left"></td><td>(.09)</td><td>(.12)</td><td>(.11)</td><td>(.12)</td><td>(.12)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>-4.07<sup>***</sup></td><td>-2.15<sup>***</sup></td><td>-2.09<sup>***</sup></td><td>-2.98<sup>***</sup></td><td>-2.47<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.23)</td><td>(.31)</td><td>(.29)</td><td>(.32)</td><td>(.31)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>2,682</td><td>2,168</td><td>2,109</td><td>2,164</td><td>2,121</td></tr>
<tr><td style="text-align:left">Log Likelihood</td><td>-1,573.14</td><td>-1,026.03</td><td>-1,128.67</td><td>-983.83</td><td>-988.90</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="5" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
