
<table style="text-align:center"><tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="5"><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="5" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td colspan="5">Vote Choice (Yes)</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td><td>(4)</td><td>(5)</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Egotropic economy</td><td>.95<sup>***</sup></td><td>.70<sup>***</sup></td><td>.91<sup>***</sup></td><td>.35<sup>***</sup></td><td>.50<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.07)</td><td>(.08)</td><td>(.07)</td><td>(.08)</td><td>(.08)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Referendum Knowledge</td><td>.06</td><td>-.04</td><td>.05</td><td>.13<sup>***</sup></td><td>.14<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.04)</td><td>(.05)</td><td>(.04)</td><td>(.05)</td><td>(.05)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">PID (Government)</td><td></td><td>2.80<sup>***</sup></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td>(.13)</td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Vote (Government)</td><td></td><td></td><td>1.20<sup>***</sup></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td>(.13)</td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Government approval</td><td></td><td></td><td></td><td>.58<sup>***</sup></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td>(.02)</td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Approval (PM)</td><td></td><td></td><td></td><td></td><td>.45<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td>(.02)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Female</td><td>-.05</td><td>-.08</td><td>-.06</td><td>-.06</td><td>-.11</td></tr>
<tr><td style="text-align:left"></td><td>(.09)</td><td>(.10)</td><td>(.09)</td><td>(.10)</td><td>(.11)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Age</td><td>.01<sup>***</sup></td><td>.01<sup>**</sup></td><td>.01<sup>***</sup></td><td>.01<sup>***</sup></td><td>.01<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.003)</td><td>(.003)</td><td>(.003)</td><td>(.003)</td><td>(.003)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">University education</td><td>.28<sup>***</sup></td><td>.13</td><td>.24<sup>***</sup></td><td>.07</td><td>.11</td></tr>
<tr><td style="text-align:left"></td><td>(.09)</td><td>(.10)</td><td>(.09)</td><td>(.11)</td><td>(.11)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>-3.94<sup>***</sup></td><td>-3.27<sup>***</sup></td><td>-3.79<sup>***</sup></td><td>-4.74<sup>***</sup></td><td>-4.33<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.25)</td><td>(.28)</td><td>(.26)</td><td>(.30)</td><td>(.30)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>2,689</td><td>2,689</td><td>2,579</td><td>2,658</td><td>2,572</td></tr>
<tr><td style="text-align:left">Log Likelihood</td><td>-1,647.76</td><td>-1,327.45</td><td>-1,541.75</td><td>-1,217.66</td><td>-1,215.44</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="5" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
