
<table style="text-align:center"><tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="5"><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="5" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td colspan="5">Vote Choice (Yes)</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td><td>(4)</td><td>(5)</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Sociotropic economy</td><td>.82<sup>***</sup></td><td>.59<sup>***</sup></td><td>.82<sup>***</sup></td><td>.04</td><td>.22<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.06)</td><td>(.07)</td><td>(.07)</td><td>(.08)</td><td>(.08)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Egotropic economy</td><td>.52<sup>***</sup></td><td>.41<sup>***</sup></td><td>.49<sup>***</sup></td><td>.33<sup>***</sup></td><td>.41<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.08)</td><td>(.08)</td><td>(.08)</td><td>(.09)</td><td>(.09)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Referendum Knowledge</td><td>.05</td><td>-.04</td><td>.04</td><td>.13<sup>**</sup></td><td>.13<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.05)</td><td>(.05)</td><td>(.05)</td><td>(.05)</td><td>(.05)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">PID (Government)</td><td></td><td>2.63<sup>***</sup></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td>(.13)</td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Vote (Government)</td><td></td><td></td><td>1.11<sup>***</sup></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td>(.13)</td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Government approval</td><td></td><td></td><td></td><td>.57<sup>***</sup></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td>(.03)</td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Approval (PM)</td><td></td><td></td><td></td><td></td><td>.43<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td>(.02)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Female</td><td>-.01</td><td>-.05</td><td>-.01</td><td>-.05</td><td>-.09</td></tr>
<tr><td style="text-align:left"></td><td>(.09)</td><td>(.10)</td><td>(.09)</td><td>(.11)</td><td>(.11)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Age</td><td>.02<sup>***</sup></td><td>.01<sup>***</sup></td><td>.01<sup>***</sup></td><td>.01<sup>***</sup></td><td>.01<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.003)</td><td>(.003)</td><td>(.003)</td><td>(.003)</td><td>(.003)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">University education</td><td>.19<sup>**</sup></td><td>.06</td><td>.16<sup>*</sup></td><td>.07</td><td>.09</td></tr>
<tr><td style="text-align:left"></td><td>(.09)</td><td>(.10)</td><td>(.09)</td><td>(.11)</td><td>(.11)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>-5.02<sup>***</sup></td><td>-4.08<sup>***</sup></td><td>-4.86<sup>***</sup></td><td>-4.79<sup>***</sup></td><td>-4.59<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.28)</td><td>(.30)</td><td>(.29)</td><td>(.31)</td><td>(.31)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>2,675</td><td>2,675</td><td>2,565</td><td>2,649</td><td>2,563</td></tr>
<tr><td style="text-align:left">Log Likelihood</td><td>-1,543.73</td><td>-1,282.53</td><td>-1,447.39</td><td>-1,211.59</td><td>-1,206.07</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="5" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
