
<table style="text-align:center"><tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="5"><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="5" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td colspan="5">Vote intention (Yes)</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td><td>(4)</td><td>(5)</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Sociotropic economy</td><td>1.15<sup>***</sup></td><td>.85<sup>***</sup></td><td>1.12<sup>***</sup></td><td>.09</td><td>.28<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.07)</td><td>(.08)</td><td>(.07)</td><td>(.10)</td><td>(.09)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Referendum Knowledge</td><td>-.44<sup>***</sup></td><td>-.61<sup>***</sup></td><td>-.46<sup>***</sup></td><td>-.59<sup>***</sup></td><td>-.62<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.06)</td><td>(.06)</td><td>(.06)</td><td>(.07)</td><td>(.07)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">PID (Government)</td><td></td><td>2.62<sup>***</sup></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td>(.17)</td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Vote (Government)</td><td></td><td></td><td>.92<sup>***</sup></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td>(.17)</td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Government approval</td><td></td><td></td><td></td><td>.68<sup>***</sup></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td>(.03)</td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Approval PM</td><td></td><td></td><td></td><td></td><td>.61<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td>(.03)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Female</td><td>.23<sup>**</sup></td><td>.22<sup>*</sup></td><td>.20<sup>*</sup></td><td>.22</td><td>.23</td></tr>
<tr><td style="text-align:left"></td><td>(.11)</td><td>(.13)</td><td>(.12)</td><td>(.14)</td><td>(.14)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Age</td><td>.01<sup>*</sup></td><td>-.003</td><td>.004</td><td>-.0001</td><td>-.01</td></tr>
<tr><td style="text-align:left"></td><td>(.003)</td><td>(.004)</td><td>(.003)</td><td>(.004)</td><td>(.004)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">University education</td><td>.04</td><td>-.12</td><td>.05</td><td>-.22</td><td>-.27<sup>*</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.11)</td><td>(.13)</td><td>(.11)</td><td>(.14)</td><td>(.14)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>-2.72<sup>***</sup></td><td>-1.72<sup>***</sup></td><td>-2.60<sup>***</sup></td><td>-1.95<sup>***</sup></td><td>-1.59<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.27)</td><td>(.29)</td><td>(.28)</td><td>(.32)</td><td>(.33)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>1,768</td><td>1,768</td><td>1,720</td><td>1,766</td><td>1,745</td></tr>
<tr><td style="text-align:left">Log Likelihood</td><td>-1,027.80</td><td>-862.99</td><td>-981.01</td><td>-724.78</td><td>-693.10</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="5" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
