
<table style="text-align:center"><tr><td colspan="3" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="2">Dependent variable: Vote choice (Yes)</td></tr>
<tr><td></td><td colspan="2" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td></tr>
<tr><td colspan="3" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Sociotropic economy</td><td></td><td>1.00<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td></td><td>(.06)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td></tr>
<tr><td style="text-align:left">Referendum knowledge</td><td>.11<sup>***</sup></td><td>.07<sup>*</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.04)</td><td>(.04)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td></tr>
<tr><td style="text-align:left">Government approval</td><td>-.08</td><td>-.01</td></tr>
<tr><td style="text-align:left"></td><td>(.08)</td><td>(.09)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td></tr>
<tr><td style="text-align:left">Female</td><td>.01<sup>***</sup></td><td>.02<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.002)</td><td>(.003)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td></tr>
<tr><td style="text-align:left">Age</td><td>.33<sup>***</sup></td><td>.20<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.08)</td><td>(.09)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td></tr>
<tr><td style="text-align:left">University education</td><td>-1.30<sup>***</sup></td><td>-4.07<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.15)</td><td>(.23)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td></tr>
<tr><td colspan="3" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>2,697</td><td>2,682</td></tr>
<tr><td style="text-align:left">Log Likelihood</td><td>-1,772.12</td><td>-1,573.14</td></tr>
<tr><td colspan="3" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="2" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
