
<table style="text-align:center"><tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="5">Dependent variable: Vote choice (Yes)</td></tr>
<tr><td></td><td colspan="5" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td><td>(4)</td><td>(5)</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Sociotropic economy</td><td>1.00<sup>***</sup></td><td>.73<sup>***</sup></td><td>.99<sup>***</sup></td><td>.17<sup>**</sup></td><td>.36<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.06)</td><td>(.06)</td><td>(.06)</td><td>(.07)</td><td>(.07)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Referendum knowledge</td><td>.07<sup>*</sup></td><td>-.02</td><td>.05</td><td>.15<sup>***</sup></td><td>.15<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.04)</td><td>(.05)</td><td>(.05)</td><td>(.05)</td><td>(.05)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">PID (Government)</td><td></td><td>2.66<sup>***</sup></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td>(.13)</td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Vote (Government)</td><td></td><td></td><td>1.14<sup>***</sup></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td>(.13)</td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Government approval</td><td></td><td></td><td></td><td>.57<sup>***</sup></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td>(.03)</td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Approval PM</td><td></td><td></td><td></td><td></td><td>.44<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td>(.02)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Female</td><td>-.01</td><td>-.04</td><td>-.01</td><td>-.05</td><td>-.07</td></tr>
<tr><td style="text-align:left"></td><td>(.09)</td><td>(.10)</td><td>(.09)</td><td>(.10)</td><td>(.11)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Age</td><td>.02<sup>***</sup></td><td>.01<sup>**</sup></td><td>.01<sup>***</sup></td><td>.01<sup>***</sup></td><td>.01<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.003)</td><td>(.003)</td><td>(.003)</td><td>(.003)</td><td>(.003)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">University education</td><td>.20<sup>**</sup></td><td>.07</td><td>.17<sup>*</sup></td><td>.07</td><td>.10</td></tr>
<tr><td style="text-align:left"></td><td>(.09)</td><td>(.10)</td><td>(.09)</td><td>(.10)</td><td>(.11)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>-4.07<sup>***</sup></td><td>-3.35<sup>***</sup></td><td>-3.98<sup>***</sup></td><td>-4.19<sup>***</sup></td><td>-3.84<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.23)</td><td>(.25)</td><td>(.24)</td><td>(.26)</td><td>(.26)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>2,682</td><td>2,682</td><td>2,572</td><td>2,656</td><td>2,567</td></tr>
<tr><td style="text-align:left">Log Likelihood</td><td>-1,573.14</td><td>-1,299.71</td><td>-1,472.11</td><td>-1,227.44</td><td>-1,221.48</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="5" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
