
<table style="text-align:center"><tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="3"><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="3" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td>Vote choice (Yes)</td><td>Government approval</td><td>Vote choice (Yes)</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Sociotropic economy</td><td>.20<sup>***</sup></td><td>1.80<sup>***</sup></td><td>.02<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.01)</td><td>(.05)</td><td>(.01)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Government approval</td><td></td><td></td><td>.10<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td>(.003)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Referendum knowledge</td><td>.01<sup>*</sup></td><td>-.05</td><td>.02<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.01)</td><td>(.04)</td><td>(.01)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Female</td><td>-.003</td><td>.03</td><td>-.01</td></tr>
<tr><td style="text-align:left"></td><td>(.02)</td><td>(.09)</td><td>(.02)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Age</td><td>.003<sup>***</sup></td><td>.01<sup>***</sup></td><td>.002<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.001)</td><td>(.003)</td><td>(.0005)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">University education</td><td>.04<sup>**</sup></td><td>.32<sup>***</sup></td><td>.01</td></tr>
<tr><td style="text-align:left"></td><td>(.02)</td><td>(.09)</td><td>(.02)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>-.31<sup>***</sup></td><td>-1.36<sup>***</sup></td><td>-.17<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.04)</td><td>(.19)</td><td>(.04)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>2,682</td><td>2,943</td><td>2,656</td></tr>
<tr><td style="text-align:left">R<sup>2</sup></td><td>.15</td><td>.34</td><td>.35</td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="3" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
