
<table style="text-align:center"><tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="1" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td>vote</td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Sociotropic economy</td><td>.54<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.15)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">Sociotropic economy PID (None)</td><td>.27</td></tr>
<tr><td style="text-align:left"></td><td>(.19)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">Sociotropic economy PID (Opposition)</td><td>.21</td></tr>
<tr><td style="text-align:left"></td><td>(.18)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">PID (None)</td><td>-2.69<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.56)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">PID (Opposition)</td><td>-3.71<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.52)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">Knowledge</td><td>-.07</td></tr>
<tr><td style="text-align:left"></td><td>(.05)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">Female</td><td>-.20<sup>*</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.11)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">Age</td><td>.01<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.003)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">University education</td><td>.05</td></tr>
<tr><td style="text-align:left"></td><td>(.11)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>-.13</td></tr>
<tr><td style="text-align:left"></td><td>(.48)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>2,599</td></tr>
<tr><td style="text-align:left">Log Likelihood</td><td>-1,193.78</td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
