
<table style="text-align:center"><tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="3">Subgroups:</td></tr>
<tr><td></td><td colspan="3" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td>PID (Government)</td><td>PID (None)</td><td>PID (Opposition)</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Sociotropic economy(after referendum)</td><td>1.00<sup>***</sup></td><td>.87<sup>***</sup></td><td>.97<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.16)</td><td>(.13)</td><td>(.10)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Knowledge</td><td>-.10</td><td>-.12</td><td>-.07</td></tr>
<tr><td style="text-align:left"></td><td>(.13)</td><td>(.10)</td><td>(.08)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Female</td><td>-.37</td><td>-.33</td><td>-.08</td></tr>
<tr><td style="text-align:left"></td><td>(.26)</td><td>(.20)</td><td>(.16)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Age</td><td>.04<sup>***</sup></td><td>.01<sup>**</sup></td><td>.0004</td></tr>
<tr><td style="text-align:left"></td><td>(.01)</td><td>(.01)</td><td>(.005)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">University education</td><td>.12</td><td>-.06</td><td>.19</td></tr>
<tr><td style="text-align:left"></td><td>(.25)</td><td>(.20)</td><td>(.16)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>-2.79<sup>***</sup></td><td>-2.94<sup>***</sup></td><td>-4.09<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.70)</td><td>(.53)</td><td>(.38)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>647</td><td>556</td><td>1,394</td></tr>
<tr><td style="text-align:left">Log Likelihood</td><td>-224.48</td><td>-344.83</td><td>-576.56</td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="3" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
