
<table style="text-align:center"><tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="3">Subgroups:</td></tr>
<tr><td></td><td colspan="3" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td>PID (Government)</td><td>PID (None)</td><td>PID (Opposition)</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Sociotropic economy</td><td>1.08<sup>***</sup></td><td>.75<sup>***</sup></td><td>.78<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.20)</td><td>(.17)</td><td>(.10)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Knowledge</td><td>-.71<sup>***</sup></td><td>-.49<sup>***</sup></td><td>-.70<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.19)</td><td>(.15)</td><td>(.08)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Female</td><td>-.45</td><td>.14</td><td>.26</td></tr>
<tr><td style="text-align:left"></td><td>(.31)</td><td>(.27)</td><td>(.17)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Age</td><td>.01<sup>*</sup></td><td>-.001</td><td>-.01<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.01)</td><td>(.01)</td><td>(.005)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">University education</td><td>-.40</td><td>-.37</td><td>.03</td></tr>
<tr><td style="text-align:left"></td><td>(.29)</td><td>(.27)</td><td>(.17)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>-.13</td><td>-.93</td><td>-1.43<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.77)</td><td>(.66)</td><td>(.39)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>492</td><td>294</td><td>957</td></tr>
<tr><td style="text-align:left">Log Likelihood</td><td>-162.51</td><td>-183.74</td><td>-469.21</td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="3" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
