
<table style="text-align:center"><tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="3">Subgroups:</td></tr>
<tr><td></td><td colspan="3" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td>PID (Government)</td><td>PID (None)</td><td>PID (Opposition)</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Egotropic economy</td><td>.62<sup>***</sup></td><td>.71<sup>***</sup></td><td>.65<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.19)</td><td>(.15)</td><td>(.10)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Knowledge</td><td>-.03</td><td>-.08</td><td>-.11</td></tr>
<tr><td style="text-align:left"></td><td>(.13)</td><td>(.10)</td><td>(.07)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Female</td><td>-.46<sup>*</sup></td><td>-.39<sup>**</sup></td><td>-.08</td></tr>
<tr><td style="text-align:left"></td><td>(.25)</td><td>(.19)</td><td>(.15)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Age</td><td>.03<sup>***</sup></td><td>.01</td><td>.001</td></tr>
<tr><td style="text-align:left"></td><td>(.01)</td><td>(.01)</td><td>(.004)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">University education</td><td>.11</td><td>-.03</td><td>.22</td></tr>
<tr><td style="text-align:left"></td><td>(.24)</td><td>(.19)</td><td>(.15)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>-1.29<sup>*</sup></td><td>-2.39<sup>***</sup></td><td>-3.23<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.71)</td><td>(.54)</td><td>(.39)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>648</td><td>563</td><td>1,397</td></tr>
<tr><td style="text-align:left">Log Likelihood</td><td>-239.71</td><td>-360.55</td><td>-612.37</td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="3" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
