
<table style="text-align:center"><tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="3">Subgroups:</td></tr>
<tr><td></td><td colspan="3" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td>PID (Government)</td><td>PID (None)</td><td>PID (Opposition)</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Sociotropic economy</td><td>.54<sup>***</sup> (.15)</td><td>.83<sup>***</sup> (.13)</td><td>.72<sup>***</sup> (.09)</td></tr>
<tr><td style="text-align:left">Knowledge</td><td>-.05 (.13)</td><td>-.05 (.10)</td><td>-.08 (.07)</td></tr>
<tr><td style="text-align:left">Female</td><td>-.47<sup>*</sup> (.25)</td><td>-.21 (.20)</td><td>-.10 (.15)</td></tr>
<tr><td style="text-align:left">Age</td><td>.03<sup>***</sup> (.01)</td><td>.01<sup>*</sup> (.01)</td><td>.002 (.004)</td></tr>
<tr><td style="text-align:left">University education</td><td>.09 (.24)</td><td>-.22 (.20)</td><td>.22 (.16)</td></tr>
<tr><td style="text-align:left">Constant</td><td>-1.01 (.62)</td><td>-2.78<sup>***</sup> (.51)</td><td>-3.43<sup>***</sup> (.37)</td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>647</td><td>559</td><td>1,393</td></tr>
<tr><td style="text-align:left">Log Likelihood</td><td>-238.66</td><td>-347.97</td><td>-598.26</td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="3" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
