
<table style="text-align:center"><tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="3">Subgroups:</td></tr>
<tr><td></td><td colspan="3" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td>PID (Government)</td><td>PID (None)</td><td>PID (Opposition)</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Sociotropic Economy</td><td>.41<sup>**</sup></td><td>.72<sup>***</sup></td><td>.59<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.16)</td><td>(.14)</td><td>(.10)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Egotropic economy</td><td>.42<sup>**</sup></td><td>.43<sup>**</sup></td><td>.34<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.21)</td><td>(.17)</td><td>(.12)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Knowledge</td><td>-.06</td><td>-.08</td><td>-.10</td></tr>
<tr><td style="text-align:left"></td><td>(.13)</td><td>(.10)</td><td>(.07)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Female</td><td>-.44<sup>*</sup></td><td>-.24</td><td>-.11</td></tr>
<tr><td style="text-align:left"></td><td>(.25)</td><td>(.20)</td><td>(.15)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Age</td><td>.03<sup>***</sup></td><td>.01<sup>*</sup></td><td>.002</td></tr>
<tr><td style="text-align:left"></td><td>(.01)</td><td>(.01)</td><td>(.004)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">University education</td><td>.09</td><td>-.20</td><td>.20</td></tr>
<tr><td style="text-align:left"></td><td>(.24)</td><td>(.20)</td><td>(.16)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>-1.90<sup>**</sup></td><td>-3.64<sup>***</sup></td><td>-3.99<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(.76)</td><td>(.62)</td><td>(.43)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>647</td><td>557</td><td>1,391</td></tr>
<tr><td style="text-align:left">Log Likelihood</td><td>-236.56</td><td>-342.48</td><td>-592.36</td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="3" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
